# Mac
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Odoo
*.log
filestore/

# Docker
*.pid

# Environment / secrets
.env
.env.*
!.env.example

# Temporary / backup files
*.save
*.backup

# Database dumps
*.sql

# IDE
.vscode/
.idea/
