.greencheck-hero {

    padding: 120px 20px;

    background: #eef7ee;

    text-align: center;


    h1 {

        font-size: 64px;

        font-weight: bold;

    }


    h2 {

        margin-top: 20px;

        font-size: 36px;

    }


    p {

        font-size: 20px;

        margin: 30px auto;

    }

}


.greencheck-intro {

    padding: 80px 20px;

    text-align: center;

}